*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    text-indent: 0px;
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    color: #FFF2E8; 

}
h2 {
    color: #FFF2E8; 
    font-style: italic;
    font-size: 30px;
    padding-bottom: 60px;
    align-items: center;
    text-align: center;
}
p {
    color: #FFF2E8;
    text-indent: 20px;
}



body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 ;
    padding: 0;
    padding-top: 78.4px;
    background-color: #232323;
}

.container{
    padding: 0 50px;
    background-color: #232323;
}
@media only screen and (max-width: 768px) {
    .container {
        padding: 0 20px; 
        background-color: #232323;
    }
}

.text-block p{
    margin-bottom: 40px;
    line-height: 1.5;
    text-indent: 0px;

}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #070705be;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo img {
    width: 100px; 
    height: auto;
    margin-left: 45px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #B38867;
    font-weight: 600;
    transition: color 0.8s ease; 
}   

nav ul li a:hover {
    color: #CCB09C;
}

nav ul li.active a {
    border-bottom: none; 
    padding-bottom: 26px; 
    color: #CCB09C;
}

@media only screen and (max-width: 768px) {
    .logo img {
        width: 80px; 
        margin-left: 0px; 
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .burger-menu .line {
        width: 30px;
        height: 3px;
        background-color: #CDB19C;
        margin: 4px 0;
        transition: all 0.3s ease;
    }

    .burger-menu.active .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .burger-menu.active .line:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #070705be;
        position: absolute;
        top: 100px; 
        left: 0;
        width: 100%;
        padding-left: 20px;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        
        margin-right: 0;
        margin-bottom: 20px; 
    }
}

/* Общие стили для разделов */

section {
    background-color: #232323;
    padding: 40px;
}


@media only screen and (max-width: 768px) {
    section {
        padding: 20px; 
    }
}

/* Главная страница */

#home {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    background: url('../image/header.svg') center/cover no-repeat;
    padding: 150px 0 200px 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#home img {
    width: 100%;
    height: auto;
}

.left-block,
.right-block {
    flex: 1;
    box-sizing: border-box;
}

.right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-right: 120px;
}

.main-text {
    color: #FFF2E8;
    font-size: 28px;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out forwards;
}

.main-text h2 {
    font-size: 43px;
    margin-bottom: 20px;
}

.main-text p {
    margin-bottom: 35px;
}

.main-text h3 {
    font-size: 25px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




@media only screen and (max-width: 768px) {
    #home {
        margin-top: -80px;
        flex-direction: column; 
        background: url('../image/header.svg') left/cover no-repeat;

    }
   
    .background-image {
        display: none;
    }

    .right-block {
        margin-right: 0; 
    }

    .main-text {
        font-size: 22px; 
    }

    .main-text h2 {
        font-size: 35px; 
        margin-bottom: 15px; 
    }

    .main-text h3 {
        font-size: 20px; 
    }
}


/* О фотостудии */

.about {
    background-color: #232323;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-bottom: 100px;
    padding-top: 100px;
    border-bottom: 1px solid #ccc;


}

.logo-block,
.text-block {
    width: 48%;
    color: #FFF2E8;
    text-indent: 0px;

}

.дщпщ
.text-block h1{
    font-size: 30px;
    margin-bottom: 20px;

}


@media only screen and (max-width: 768px) {
    .about {
        flex-direction: column; 
        padding: 20px; 
        padding-bottom: 50px; 
        padding-top: 50px;
    }

    .logo-block,
    .text-block {
        width: 100%; 
        margin: 0; 
        text-align: center;
    }

    .text-block h2 {
        font-size: 24px; 
        text-align: center;
    }

    .text-block p {
        font-size: 16px; 
    }

    .logo-block img {
        max-width: 100%; 
    }
}


/* Залы */

#halls {
    background-color: #232323;
    text-align: center;
    padding: 40px;  
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
}

#halls h2{
    font-style: italic;
    font-size: 30px;
    color: #FFF2E8;
    padding-bottom: 60px;
}

.hall {
    display: flex;
    margin-bottom: 40px;
}

.hall-image {
    flex: 2;
}

.hall-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.hall-details {
    border: #FFF2E8;
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    background-color: #232323;
    text-align: left;
}

.hall-details h3 {
    color: #FFF2E8;
    font-size: 22px;
    margin-bottom: 10px;
}

.hall-details p {
    text-indent: 0px;
    color: #FFF2E8;
    margin-bottom: 15px;
    font-size: 14px;
}



.hall-button button {
    font-size: 14px;
    width: 250px;
    font-weight: 600;
    background-color: #B38867;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease; 
}

.hall-button button:hover {
    background-color: #d3a684;
}



.view-all-halls-button button:hover {
    background-color: #d3a684;
}

.view-all-halls-button button{ 
float: right;
    font-size: 14px;
    width: 250px;
    font-weight: 600;
    background-color: #B38867;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease; 
}



@media only screen and (max-width: 768px) {
    #halls {
      
        padding: 30px 0;  
       
    }
    
    .hall-image img {
        max-width: 100%;
    }
    .hall {
        flex-direction: column;
        align-items: center;
    }
    .hall-image {
        order: 2;
        margin-bottom: 20px;
    }
    .hall-details {
        order: 1;
        text-align: center;
    }
    .hall-button {
        order: 3;
    }
   
    .view-all-halls-button button{ 
        float: none;

        display: block; 
        margin: 0px auto;
        font-size: 14px;
        width: 250px;
        font-weight: 600;
        background-color: #B38867;
        color: #ffffff;
        padding: 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.5s ease; 
    
    }


}

    


/* Оборудование */

.equipment {
    background-color: #232323;
    display: flex;
    padding: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden; 
  }

.equipment-item {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.equipment-item h3{
   color:#B38867;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 10px;
}

.equipment-item p{
    color:#232323;
    text-indent: 0  ;
 }

.text-block h2{
    font-style: italic;
    font-size: 30px;
    color: #FFF2E8;
    padding-bottom: 60px;  
    text-align: left; 
    
}

.equipment-item:hover {
    transform: scale(1.05);
}

.equipment-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.equipment-item:nth-child(3n+1) {
    margin-left: 0;
}


.text-block button {
    font-size: 14px;
    width: 250px;
    font-weight: 600;
    background-color: #B38867;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease; 


}

.text-block button:hover {
    background-color: #d3a684;

}

.image-block{
   padding-left: 200px;
   opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
  
  .image-block.animate {
    opacity: 1;
  transform: translateX(0);
  }

  @media only screen and (max-width: 768px) {
    .equipment {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .text-block {
      text-align: center;
    }
  
    .text-block h2 {
      text-align: center; 
      padding-bottom: 20px;
    }
  
   
  
    .image-block {
      padding-left: 0;
      margin-top: 100px;
    }
  
    .image-block img {
      max-width: 100%;
      height: auto;
    }

    .text-block button {
        margin: 0 auto; 
        display: block; 
    }
  }



/* Гардероб */

.image-container {
    position: relative;
    width: 600px; 
    height: 350px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: opacity 1.5s ease; 
    border-radius: 8px;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover .main-image {
    opacity: 0; 
}

.image-container:hover .hover-image {
    opacity: 1; 
}

.wardrobe {
    position: relative;
    color: #fff;
    display: flex;
    padding: 40px;
    background-color: #232323;
    padding-bottom: 100px;
}

.wardrobe .text-block {
    margin-left: 50px;
}

.background-block img{
    width: 90%;
}

@media only screen and (max-width: 768px) {
    .image-container {
      width: 100%;
      height: auto;
      
    }
  
    .image-container img {
      width: 100%;
      height: auto;
    }
  
    .wardrobe {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin-bottom: 70px;
    }
  
    .wardrobe .text-block {
      margin-left: 0;
      text-align: center;
      margin-top: 20px;
    }
  }

/* Форма обратной связи */

#contact-form {
    background-color: #eee;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label,
input,
textarea,
button {
    display: block;
    margin-bottom: 10px;
}


/* Футер */

.item-getintouch{
    color: #FFF2E8;
}
.item-getintouch:hover{
    color: #c7ac98;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    text-align: center;
        display: flex;
    gap: 20px;
}

.sub_info {
    text-align: center;
    margin-bottom: 40px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.info-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.info-item p {
   
    font-size: 16px;
    text-indent: 0px;
    line-height: 1.5;

}
@media only screen and (max-width: 768px) {
    footer {
        padding: 40px 20px; 
        flex-direction: column; 
        text-align: center; 
    }

    .contact-info {
        flex-direction: column; 
        gap: 10px; 
    }

    .info-item {
        padding-right: 0; 
    }

    .info-item img {
        width: 40px; 
        height: 40px;
        margin-top: 10px;
    }

  
}



/* Страница оборудования */


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.equipment-item {
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    padding: 10px;
    border-bottom: 5px solid #B38867;
}

@media only screen and (max-width: 1024px) {
    .equipment-item {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 768px) {
    .gallery {
        flex-direction: column; 
        align-items: center; 
    }

    .equipment-item {
        width: 100%; 
    }
}
/* Страница Залов */

#hall-details {
    padding: 40px;
  }
  
  .section-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section-header h2 {
    margin-bottom: 10px;
  }
  
  .hall-description,
  .hall-features {
    padding: 40px 30px 30px 0;
    margin-bottom: 70px;
    width: calc(50% - 20px);
    float: left;
  }
  
  .hall-features {
    border-left: 5px solid #B38867;
    padding-left: 20px;
  }
  
  .hall-features ul {
    list-style-type: none;
    padding: 0;
    margin-left: 20px; 
    color: #FFF2E8;
  }
  
  .hall-features li {
    margin-bottom: 10px;
  }
  
  .visit-information {
    margin-bottom: 70px;
    color: #FFF2E8;
    clear: both;
  }
  
  .visit-information h3 {
    margin-bottom: 10px;
    color: #FFF2E8;
  }
  
  .visit-information ul {
    list-style-type: none;
    padding: 0;
    color: #FFF2E8;
  }
  
  .visit-information li {
    margin-bottom: 15px;
    color: #FFF2E8;
  }
  
  .h_price li {
    font-size: 26px;
  }
  
  .h_price ul {
    padding-bottom: 25px;
    padding-left: 0px;
  }
  

  @media only screen and (max-width: 768px) {
    #hall-details {
      padding: 20px;
    }
  
    .hall-description,
    .hall-features {
      width: 100%;
      float: none;
      padding: 20px;
      margin-bottom: 30px;
    }
  
    .visit-information {
      margin-bottom: 50px;
    }
  
    .h_price li {
      font-size: 20px;
    }
  
    .h_price ul {
      padding-bottom: 15px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .hall-description,
    .hall-features {
      padding: 15px;
    }
  
    .visit-information {
      margin-bottom: 40px;
    }
  
    .h_price li {
      font-size: 18px;
    }
  
    .h_price ul {
      padding-bottom: 10px;
    }
  }
/* Слайдер  */
.wardrobe-item {
    margin-bottom: 50px;
}
.swiper{
    width: 1000px;
    height: 100%;
}

.swiper-slide{
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    background-color: #B38867;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    width: 40%;
    object-fit: cover;
}

.swiper-button-prev {
    left: 140px !important;
    right: auto;
    color: #ccc;
}

.swiper-button-next {
    right: 140px !important;
    left: auto;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    color: #fff;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    color: #fff;
}
@media only screen and (max-width: 768px) {
    .swiper {
        width: 100%;
    }

    .swiper-slide {
        font-size: 14px;
    }

    .swiper-slide img {
        width: 100%;
    }

    .swiper-button-prev {
        left: 10px !important;
    }

    .swiper-button-next {
        right: 10px !important;
    }
}

@media only screen and (max-width: 480px) {
    .item-details h3 {
        font-size: 20px;
    }
    
    .wardrobe-item {
        margin-bottom: 30px;
    }

}
  
/* Страница Услуг */
#services h2{
    color: #FFF2E8;
    margin-bottom: 60px;
    font-size: 30px;
    font-style: italic;
    text-align: center;

}


.service {
    padding-left: 20px;
    border-left: 5px solid #B38867;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-details, .wardrobe-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.service-details h3, .wardrobe-details h3{
  color: #FFF2E8;
  font-size: 20px;
  
}


.price {
    text-indent: 0px;
    padding-top: 10px;
    order: 1;
    color: #FFF2E8;
    font-size: 20px;
    }

.underline {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 5px;
}

.service-description {
    margin-top: 10px;
}

.service-description p{
    text-indent: 0px;
    color: #FFF2E8;
    line-height: 1.5;
}

@media screen and (max-width: 1024px) {
    .service-details, .wardrobe-details {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .service {
        padding-left: 0;
        border-left: none;
        margin-bottom: 50px;
    }

    .service-details, .wardrobe-details {
        flex-direction: column;
        align-items: flex-start;
    }

    .price {
        order: 0;
        text-align: left;
        padding-top: 0;
        margin-bottom: 5px;
    }

    .service-description p {
        text-indent: 0;
        margin-top: 5px;
    }
}

/* Страница Правил */

#rules {
    text-align: center;
}

.subheading {
    margin-bottom: 40px;
}

.rule {
    margin-bottom: 20px;
    cursor: pointer;
}


.rule h3{
    font-size: 20px;
}


.toggle-btn {
    font-size: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.rule-content {
    display: none;
    margin-top: 10px;
    padding: 20px 0;
    
}
.rule-content p{
text-indent: 0px;
    
}
.rule-content li{
    margin-left: 70px;
   margin-top: 20px;
   list-style-type: square; 
}


.underline {
    height: 3px;
    background-color: #333;
    margin-bottom: 15px;
}

.toggle-btn-container {
    display: inline-block;
    margin-bottom: -30px;
}

.toggle-btn {
    font-size: 20px;
    background-color: #B38867;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.rule h3 {
    font-size: 20px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    .toggle-btn-container {
        margin-left: 10px;
        display: flex;
        flex-direction: column-reverse; 
    }

    .toggle-btn {
        order: 2; 
    }

    .rule h3 {
        order: 1; 
    }

    .rule-content li {
        margin-left: 22px;
        margin-top: 20px;
        list-style-type: square; 
    }
}

/* Страница аренды */
.item-details h3{
    font-size: 24px;
}

/* Страница Контактов */

#contact-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#contact-form h2 {
    text-align: center;
    color: #FFF2E8;
    margin-bottom: 20px;
}

#contact-form form {
    display: grid;
    gap: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #FFF2E8;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #B38867;
    outline: none;
    box-sizing: border-box;
    background-color: transparent; 
    color: #FFF2E8;
}

#contact-form textarea {
    resize: vertical;
}

#contact-form button {
    background-color: #B38867;
    color: #fff;
    font-weight: 600;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.5s ease; 

}

#contact-form button:hover {
    background-color: #d3a684;
}

#contact-form button:active {
    background-color: #c99d7c;
}



.contact-info {
    align-items: center;
}


.contact-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-block {
    text-align: center;
}

.contact-icon {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-text {
    color: #FFF2E8;
    font-size: 16px;
} 
@media only screen and (max-width: 768px) {
    #contact-form form {
        display: block;
    }

    #contact-form input,
    #contact-form textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #contact-form {
        padding: 20px;
    }

    #contact-form button {
        font-size: 14px;
        padding: 12px 24px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-block {
        margin-bottom: 20px;
    }
}



/* Страница зала */
.icon-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.icon-item {
    width: 45%;
    text-align: center;
    margin-bottom: 20px;
}

.icon-item img {
    width: 13%;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

}

.gallery-item {
    width: 30%;
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.gallery-item img:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .icon-item {
      width: 100%;
    }
    
    .icon-item img {
      width: 20%;
    }
  
    .gallery-item {
      width: 45%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .icon-item {
      margin-bottom: 10px;
    }
    
    .icon-item img {
      width: 25%;
    }
  
    .gallery-item {
      width: 100%;
    }
  }


/* Бронирование */
.modal-content h2{
    margin-top: 40px;
    margin-bottom: -50px;
}

.booking-container {
    display: flex;
    gap: 20px;
    max-width: 1400px;
    margin: 20px auto;
}

.booking-form,
.existing-bookings {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-form {
    width: 60%; 
}

.existing-bookings {
    width: 48%; 
    margin-bottom: 0; 
}

.existing-bookings table {
    width: 100%;
    border-collapse: collapse;
}

.existing-bookings th,
.existing-bookings td { 
    border: 1px solid #B38867;
    padding: 12px; 
    text-align: left;
    font-size: 14px; 
    color:#FFF2E8;
}


.existing-bookings h3{
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: -20px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-link {
    color: #e0bca0;
    padding: 8px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .page-link.active {
    background-color: #e0bca0;
    color: #fff;
  }




#bookingForm {
    max-width: 700px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #e0bca0;
    color: #FFF2E8;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bookingForm label {
    display: block;
    margin-bottom: 8px;
}

#bookingForm input,
#bookingForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none; 
    border-bottom: 3px solid #B38867; 
    background: transparent;
    font-size: 14px;
    color: #FFF2E8; 
}

#bookingForm input[type="text"],
#bookingForm input[type="date"],
#bookingForm input[type="time"],
#bookingForm select {
    outline: none;
}

#bookingForm input[type="text"]:focus,
#bookingForm input[type="date"]:focus,
#bookingForm input[type="time"]:focus,
#bookingForm select:focus {
    border-color: #e0bca0;
    box-shadow: 0 0 5px rgba(219, 133, 52, 0.5);
}



#bookingForm button {
    background-color: #B38867;
    font-size: 14px;
    width: 250px;
    font-weight: 600;
    background-color: #B38867;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease; 
}

#bookingForm button:hover {
    background-color: #d3a684;
    
}


@media only screen and (max-width: 768px) {
    .booking-container {
      flex-direction: column;
    }
  
    .booking-form,
    .existing-bookings {
      width: 100%;
      margin: 0;
      padding: 15px;
      box-sizing: border-box;
    }
  
    #bookingForm {
      max-width: none;
    }
  
    #bookingForm button {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    #bookingModal {
      padding: 10px;
    }
  
    .booking-form,
    .existing-bookings {
      padding: 10px;
    }
  
    #bookingForm button {
      font-size: 16px;
    }
  }