/* Общие стили */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    color: #FFF2E8; 
}

p {
    color: #FFF2E8;
    text-indent: 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 ;
    padding: 0;
    padding-top: 78.4px;
    background-color: #1B1B1B;
}

.container{
    padding: 0 50px;
    background-color: #1B1B1B;
}

.text-block p{
    margin-bottom: 40px;
    line-height: 1.5;
    text-indent: 0px;

}




/* Шапка */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #070705be;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo img {
    width: 100px; 
    height: auto;
}
nav ul {
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    color: #FFF2E8;
    margin-right: 20px;
}   
nav ul li a:hover{
    color: #B38867;
    margin-right: 20px;
}   




/* Общие стили для разделов */

section {
    background-color: #1B1B1B;
    padding: 40px;
}





/* Главная страница */

#home {
    padding: 0;
    text-align: center;
    position: relative;
    
}

#home img {
    width: 100%;
    height: auto;
}

.main-text {
    color: #FFF2E8  ;
    position:absolute;
    text-align: right;
   
    font-size: large;
    font-size: 28px;
    padding-right: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}


/* О фотостудии */

.about {
    background-color: #1B1B1B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-bottom: 100px;
    padding-top: 100px;
    border-bottom: 1px solid #ccc;


}

.logo-block,
.text-block {
    width: 48%;
    color: #FFF2E8;
    text-indent: 0px;

}

.text-block h1{
    font-size: 30px;
    margin-bottom: 20px;

}






/* Залы */

#rooms {
    background-color: #1B1B1B;
    text-align: center;
    padding: 40px;  
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;

}

#rooms h2{
    font-style: italic;
    font-size: 30px;
    color: #FFF2E8;
    padding-bottom: 60px;
}

.room {
    display: flex;
    margin-bottom: 40px;
}

.room-image {
    flex: 2;
}

.room-image img {
    width: 100%;
    height: auto;
  
}

.room-details {
    border: #FFF2E8;
    flex: 2;
    padding: 40px;
    box-sizing: border-box;
    background-color: #1B1B1B;
    text-align: left;
}

.room-details h3 {
    color: #FFF2E8;

    font-size: 26px;
    margin-bottom: 10px;
}

.room-details p {
    text-indent: 0px;
    color: #FFF2E8;
    margin-bottom: 20px;
}

.room-button {
    background-color: #1B1B1B ;
    flex: 1;
    padding: 40px 20px;
    align-items: flex-end;
}

.room-button button {
    position:absolute;
    width: 200px;
    font-weight: 600;
    background-color: #B38867;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}




/* Оборудование */

.equipment {
    background-color: #1B1B1B;
    display: flex;
    /* justify-content: space-between; */
    padding: 40px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ccc;

}

.equipment-item {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.text-block h2{
    font-style: italic;
    font-size: 30px;
    color: #FFF2E8;
    padding-bottom: 60px;   
    
}

.equipment-item:hover {
    transform: scale(1.05);
}

.equipment-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.equipment-item:nth-child(3n+1) {
    margin-left: 0;
}


.text-block button {
    position:absolute;
    width: 200px;
    font-weight: 600;
    background-color: #B38867;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.image-block{
   padding-left: 200px;
}

/* Гардероб */

.image-container {
    position: relative;
    width: 600px; 
    height: 350px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: opacity 1.5s ease; 
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-container:hover .main-image {
    opacity: 0; 
}

.image-container:hover .hover-image {
    opacity: 1; 
}

.wardrobe {
    position: relative;
    color: #fff;
    display: flex;
    padding: 40px;
    background-color: #1B1B1B;
    padding-bottom: 100px;
}

.wardrobe .text-block {
    margin-left: 50px;
}

.background-block img{
    width: 90%;
}



/* Форма обратной связи */

#contact-form {
    background-color: #eee;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label,
input,
textarea,
button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Футер */

footer {
    background-color: #333;
    color: #fff;
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    gap: 20px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.info-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.info-item p {
    margin-top: 5px;
    font-size: 14px;
    text-indent: 0px;
    line-height: 1.5;

}

/* Страница оборудования */

#equipment .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.equipment-item {
    
    border-bottom: 5px solid #B38867;
}

/* Страница Залов */

#room-details {
    padding: 40px;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header h2 {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.room-description {
    margin-bottom: 30px;
}

.room-features ul {
    list-style-type: none;
    padding: 0;
}

.room-features li {
    margin-bottom: 10px;
}

.visit-information h3 {
    margin-bottom: 10px;
}

.visit-information ul {
    list-style-type: none;
    padding: 0;
}

/* Слайдер Swiper */

.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}




/* Страница Услуг */


#services h2{
    color: #FFF2E8;
    margin-bottom: 60px;
    font-size: 30px;
    font-style: italic;
    text-align: center;

}


.service {
    padding-left: 20px;
    border-left: 5px solid #B38867;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.service-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.service-details h3{
  color: #FFF2E8;
  font-size: 20px;
  
}


.price {
    order: 1;
    margin-left: 10px;
    color: #FFF2E8;
    font-size: 20px;
    }

.underline {
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 5px;
}

.service-description {
    margin-top: 10px;
}

.service-description p{
    text-indent: 0px;
    color: #FFF2E8;
    line-height: 1.5;
}


/* Страница Правил */

#rules {
    text-align: center;
}

.subheading {
    margin-bottom: 40px;
}

.rule {
    margin-bottom: 20px;
    cursor: pointer;
}

.toggle-btn {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.rule-content {
    display: none;
    margin-top: 10px;
}

.underline {
    height: 3px;
    background-color: #333;
    margin-bottom: 15px;
}

/* Страница Контактов */

#contact-form {
    text-align: center;
}

/* Общие стили для медиа-запросов */

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .logo-block,
    .text-block {
        width: 100%;
    }

    .equipment-item {
        width: calc(50% - 20px);
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    #equipment .gallery img,
    #rooms .gallery img,
    #room-details .swiper-slide img {
        height: auto;
        margin-bottom: 10px;
    }

    #room-details .section-header button {
        padding: 5px 10px;
    }
}
